<!DOCTYPE html>
<html>
  <head>
    <title>autocomplete-lhc directive test</title>
    <link href="/source/auto_completion.css" rel="stylesheet" />
    <link href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" media="screen"
     rel="stylesheet" />
    <style>
      body {font-family: Verdana, Geneva, sans-serif}
      .ng-invalid-parse {border: 2px solid red}
    </style>
  </head>
  <body ng-app="someApp">
    <div ng-controller="testPageController">
      Prefetch CWE list with a default:
      <input type="text"
        ng-required="false" ng-model="listFieldVal" autocomplete-lhc="list1Opts">
      <br>
      Selected code: <input readonly id="code" name="code" ng-model="listFieldVal.code">
      <p>
      <p id="multiPrefetchCNESection">
        Multi-select prefetch CNE list:
        <input name="list2" type="text" id="multiPrefetchCNE"
          ng-required="false" placeholder="Select or type a value"
          ng-model="listFieldVal2"
          autocomplete-lhc="multilistOpts">
      </p>
      <p id="multiPrefetchCWESection">
          Multi-select prefetch CWE list:
          <input name="multiPrefetchCWE" id="multiPrefetchCWE" type="text"
          ng-required="false" placeholder="Select or type a value"
          ng-model="multiPrefetchCWEVal"
          autocomplete-lhc="multiPrefetchCWEOpts">
      </p>
      <p id="multiSearchCWESection">
          Multi-select search CWE list:
          <input name="multiSearchCWE" id="multiSearchCWE" type="text"
          ng-required="false" placeholder="Select or type a value"
          ng-model="multiSearchCWEVal"
          autocomplete-lhc="multiSearchCWEOpts">
      </p>
      <ul>Selected values from above:
        <li ng-repeat="item in multiSearchCWEVal track by item.text">{{item.text}}</li>
      </ul>
      <p id="multiSearchCWEPrePopSection">
          Multi-select search CWE list with pre-populated model value:
         <input name="multiSearchCWEPrePop" id="multiSearchCWEPrePop" type="text"
          ng-required="false" placeholder="Select or type a value"
          ng-model="multiSearchCWEPrePopVal"
          autocomplete-lhc="multiSearchCWEOpts">
      </p>
      <p>
      "Search" CNE list:
      <input name="list3" id="list3" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model="listFieldVal3"
        autocomplete-lhc="searchListOpts">
      Selected code: <input name="list3Code" id="list3Code" type="text"
       ng-model="listFieldVal3.code" readonly>
      <p>
      Search CWE list with suggestions:
      <input name="list4" id="list4" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model="listFieldVal4"
        autocomplete-lhc="searchList4Opts">
      <p>
      Search CWE list without suggestions:
      <input name="list4b" id="list4b" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model="listFieldVal4b"
        autocomplete-lhc="searchList4bOpts">
      <p>
       Prefetch CWE list w/ pre-populated model value:
      <input name="list1b" type="text"
        ng-required="false"
        ng-model="listFieldVal1b"
        autocomplete-lhc="list1Opts" id="list1b">
      <p>
       Prefetch CWE list (starting with empty field):
      <input name="list5" type="text"
        ng-required="false"
        ng-model="listFieldVal5"
        autocomplete-lhc="list5Opts" id="list5">
      <p>
       Prefetch CNE list (starting with empty field):
      <input name="list6" type="text"
        ng-required="false"
        ng-model="listFieldVal6"
        autocomplete-lhc="list6Opts" id="list6">
       <p>
       Prefetch CNE list with a default specified by its code:
      <input name="list7" type="text"
        ng-required="false"
        ng-model="listFieldVal7"
        autocomplete-lhc="list7Opts" id="list7">
       <p>
      <input name="list8" type="text"
             ng-required="false"
             ng-model="listFieldVal8"
             autocomplete-lhc="list8Opts" id="list8">
      <p>
      <button id="btnList8" ng-click="updateList8Opts()">Update list8Opts</button>
      <p>
      Search CWE list initially without a URL:
      <input name="list9" id="list9" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model="listFieldVal9"
        autocomplete-lhc="searchList9Opts">
      <p>
      <input name="nonlist" type="text">
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/ui/core.js"></script>
    <script src="/bower_components/jquery-ui/ui/widget.js"></script>
    <script src="/bower_components/jquery-ui/ui/button.js"></script>
    <script src="/bower_components/jquery-ui/ui/dialog.js"></script>
    <script src="/source/polyfill.js"></script>
    <script src="/source/prototype_api.js"></script>
    <script src="/source/effects.js"></script>
    <script src="/source/dialog.js"></script>
    <script src="/source/observable.js"></script>
    <script src="/source/screenReaderLog.js"></script>
    <script src="/source/recordDataRequester.js"></script>
    <script src="/source/fieldAlarms.js"></script>
    <script src="/soundmanager/bonk.js"></script>
    <script src="/source/autoCompBase.js"></script>
    <script src="/source/suggestionDialog.js"></script>
    <script src="/source/autoCompPrefetch.js"></script>
    <script src="/source/autoCompSearch.js"></script>
    <script src="/source/autoCompEvents.js"></script>
    <script src="/source/effectScroll.js"></script>
    <script src="/source/event.simulate.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/source/autocomplete-lhc.js"></script>
    <script src="/test/protractor/ajaxMock.js"></script>
    <script>
      angular.module('someApp', ['someModule', 'autocompleteLhcMod']);
      var someMod = angular.module('someModule', []);

      someMod.controller('testPageController', ['$scope', function ($scope) {
        $scope.listFieldVal1b = {text: 'a pre-populated model value'};

        $scope.list1Opts = {
          listItems: [
            // Including spaces on display string to test trimming
            {text: '  Green ', // label is the display string
             code: 'G' // item objects can contain any other data too
            },
            {text: ' Blue ', code: 'B'}
          ],
          defaultValue: 'Blue' // label the item you want selected as a default
        };

        $scope.multilistOpts = {
          listItems: [
            {text: 'Green', // label is the display string
             code: 'G' // item objects can contain any other data too
            },
            {text: 'Blue', code: 'B'},
            {text: 'Red', code: 'R'}
          ],
          matchListValue: true,
          maxSelect: '*'
        };

        $scope.multiPrefetchCWEOpts = {
          listItems: [
            {text: 'Green', code: 'G'},
            {text: 'Blue', code: 'B'},
            {text: 'Red', code: 'R'}
          ],
          matchListValue: false,
          maxSelect: '*'
        };

        // Make this field's options globally accessible so we can change them.
        window.multiSearchCWEOpts = {
          url: '/form/get_search_res_list?fd_id=1284',
          matchListValue: false,
          autocomp: true,
          maxSelect: '*',
          suggestionMode: 0
        };
        $scope.multiSearchCWEOpts = multiSearchCWEOpts;

        $scope.multiSearchCWEPrePopVal = [
          {text: 'item1', code: 'a'},
          {text: 'item2', code: 'b'}
        ];

        $scope.searchListOpts = {
          url: '/form/get_search_res_list?fd_id=1284',
          matchListValue: true,
          autocomp: true,
          suggestionMode: 0
        };

        $scope.searchList4Opts = {
          url: '/form/get_search_res_list?fd_id=2163',
          matchListValue: false,
          autocomp: true,
          nonMatchSuggestions: true,
          suggestionMode: 0
        };

        $scope.searchList4bOpts = {
          url: '/form/get_search_res_list?fd_id=2163',
          matchListValue: false,
          autocomp: true,
          suggestionMode: 0,
        };

        $scope.listFieldVal4b = {}; // used for test

        $scope.list5Opts = {
          listItems: [
            {text: 'Green', // label is the display string
             code: 'G' // item objects can contain any other data too
            },
            {text: 'Blue', code: 'B'}
          ]
        };

        $scope.list6Opts = {
          listItems: [
            {text: 'Green', code: 'G'},
            {text: 'Blue', code: 'B'},
            {text: 'Red', code: 'R'}
          ],
          matchListValue: true
        };

        $scope.list7Opts = {
          listItems: [
            {text: ' Green', code: 'G'},
            {text: 'Blue', code: 'B'}
          ],
          defaultValue: {code: 'G'}
        };

        $scope.list8Opts = {
          listItems: [
            {text: 'Green', code: 'G'},
            {text: 'Blue', code: 'B'},
          ],
          defaultValue: {code: 'G'}
        };
        $scope.updateList8Opts = function() {
          $scope.list8Opts = {
            listItems: [
              {text: 'Green_NEW', code: 'G'},
              {text: 'Blue_NEW', code: 'B'},
              {text: 'Red_NEW', code: 'R'}
            ]
          };
        };

        window.searchList9Opts = $scope.searchList9Opts = {
          url: undefined, /* should still construct a search autocompleter */
          matchListValue: false,
          autocomp: true,
          suggestionMode: 0
        };

     }]);
    </script>
  </body>
</html>
