<html>
  <head>
    <title>autocomp-phr directive test</title>
   <link href="/auto_completion.css" media="screen" rel="stylesheet" />
   <link href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css" media="screen"
    rel="stylesheet" />
  </head>
  <body ng-app="someApp">
    <div ng-controller="testPageController">
      Prefetch list:
      <input name="list1" type="text"
        ng-required="false"
        ng-model-options="{updateOn: 'change'}" ng-model="listFieldVal"
        phr-autocomplete="list1Opts">
      <br>
      Selected code: <input readonly id="code" name="code" ng-model="listFieldVal.code">
      <p>
      Multi-select prefetch list:
      <input name="list2" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model-options="{updateOn: 'change'}" ng-model="listFieldVal2"
        phr-autocomplete="multilistOpts">
      <p>
      "Search" list:
      <input name="list3" id="list3" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model-options="{updateOn: 'change'}" ng-model="listFieldVal3"
        phr-autocomplete="searchListOpts">
      <p>
      Search list with suggestions:
      <input name="list4" id="list4" type="text"
        ng-required="false" placeholder="Select or type a value"
        ng-model-options="{updateOn: 'change'}" ng-model="listFieldVal4"
        phr-autocomplete="searchList4Opts">
      <p>
       Prefetch list w/ pre-populated model value:
      <input name="list1b" type="text"
        ng-required="false"
        ng-model-options="{updateOn: 'change'}" ng-model="listFieldVal1b"
        phr-autocomplete="list1Opts" id="list1b">
      <p>
      <input name="nonlist" type="text">
    </div>
    <script src="/bower_components/prototypejs-bower/prototype.js"></script>
    <script src="/bower_components/scriptaculous-bower/effects.js"></script>
    <script src="/bower_components/scriptaculous-bower/controls.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-no-conflict-exec/jquery-no-conflict.js"></script>
    <script src="/bower_components/jquery-ui/ui/core.js"></script>
    <script src="/bower_components/jquery-ui/ui/widget.js"></script>
    <script src="/bower_components/jquery-ui/ui/button.js"></script>
    <script src="/bower_components/jquery-ui/ui/dialog.js"></script>
    <script src="/dialog.js"></script>
    <script src="/observable.js"></script>
    <script src="/screenReaderLog.js"></script>
    <script src="/recordDataRequester.js"></script>
    <script src="/fieldAlarms.js"></script>
    <script src="/soundmanager/bonk.js"></script>
    <script src="/autoCompBase.js"></script>
    <script src="/suggestionDialog.js"></script>
    <script src="/autoCompPrefetch.js"></script>
    <script src="/autoCompSearch.js"></script>
    <script src="/autoCompEvents.js"></script>
    <script src="/effectScroll.js"></script>
    <script src="/event.simulate.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/phr-autocomplete.js"></script>
    <script src="/test/protractor/ajaxMock.js"></script>
    <script>
      angular.module('someApp', ['someModule', 'autocompPhr']);
      var someMod = angular.module('someModule', []).directive('newTestDirective', function() {
        return {link: function($scope, element, attrs, controller) {
          element[0].innerHTML += 'orange';
        }}
      });

      someMod.controller('testPageController', ['$scope', function ($scope) {
        $scope.listFieldVal1b = 'a pre-populated model value';

        $scope.list1Opts = {
          // source is the list of item data
          source: [
            {text: 'Green', // label is the display string
             code: 'G' // item objects can contain any other data too
            },
            {text: 'Blue', code: 'B'}
          ],
          defaultValue: 'Blue' // label the item you want selected as a default
        };

        $scope.multilistOpts = {
          source: [
            {text: 'Green', // label is the display string
             code: 'G' // item objects can contain any other data too
            },
            {text: 'Blue', code: 'B'},
            {text: 'Red', code: 'R'}
          ],
          matchListValue: true,
          maxSelect: '*'
        };

        $scope.searchListOpts = {
          url: '/form/get_search_res_list?fd_id=1284',
          matchListValue: true,
          autocomp: true,
          suggestionMode: 0
        };

        $scope.searchList4Opts = {
          url: '/form/get_search_res_list?fd_id=2163',
          matchListValue: false,
          autocomp: true,
          suggestionMode: 0
        };
     }]);
    </script>
  </body>
</html>
